<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/static/style.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Server</title>
</head>

<body>
    <h1>Simple Server</h1>
    <p>Welcome to the Home Page!</p>
    <form action="/auth/register" method="get">
        <button type="submit">Регистрация</button>
    </form>
    <form action="/auth/login" method="get">
        <button type="submit">Войти</button>
    </form>
    <form action="/update" method="post">
    <input type="text" name="title" placeholder="Введите название">
    <input type="text" name="description" placeholder="Введите описание">
    <button type="submit">Отправить</button>
</form>
    <form action="/getValue" method="get">
        <button type="submit">Get Value</button>
    </form>
</body>
</html>
